./debug
./release
Makefile
Makefile.Debug
Makefile.Release
object_script.libcryptomarket.Release
object_script.libcryptomarket.Debug
.qmake.stash
libcryptomarket.pro.user
libcryptomarket.dll
*.a
!libcrypto.dll.a
!libssl.dll.a
dll/
debug/
release/
.qtc_clangd/
release/*
debug/*
binance.exe